{% extends 'GMS/admin/home.html' %}

{% block content %}
<h5>Add Course...</h5>
<br>
<div class="row">
<form class="col s12" action="{% url 'GMS:addCourse' %}" method="post">
{% csrf_token %}
	{% if err_msg %}
		<div class="row">
			<div class="col s12">
				<font color="red">{{err_msg}}</font>
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="input-field col s12 l6 m6">
			<input id="name" type="text" name="name" value="{{course.name}}" required>
			<label for="name">Name</label>
		</div>
		<div class="input-field col s12 l6 m6">
			<input id="courseid" type="text" name="courseid" value="{{course.courseID}}" required>
			<label for="courseid">Course - ID</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="LTP" type="text" name="LTP" value="{{course.LTP}}" class="validate" required>
			<label for="LTP">L-T-P</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 l6 m6">
			<select name="credit" id="credit">
				<option value="5" {% if Course.credit == 5 %}selected{% endif %}>5</option>
				<option value="4" {% if Course.credit == 4 %}selected{% endif %}>4</option>
				<option value="3" {% if Course.credit == 3 %}selected{% endif %}>3</option>
				<option value="0" {% if Course.credit == 0 %}selected{% endif %}>0</option>
			</select>
			<label for="credit">Course Credit</label>
		</div>
		<div class="input-field col s12 l6 m6">
			<select name="courseType" id="courseType">
				<option value="1" {% if Course.courseType == 1 %}selected{% endif %}>Credit</option>
				<option value="0" {% if Course.courseType == 0 %}selected{% endif %}>Audir</option>
			</select>
			<label for="courseType">Course Type</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="Iuserid" type="text" name="Iuserid" value="{{course.instructor.User.userID}}" class="validate" required>
			<label for="Iuserid">Instructor - ID</label>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<button type="submit" class="waves-effect waves-light btn">ADD</button>
			<button type="reset" class="waves-effect waves-light btn">Reset</button>
			<a href="{% url 'GMS:courses' %}" class="waves-effect waves-light btn grey">Cancel</a>
		</div>
	</div>
</form>

<script>
	$(document).ready(function(){
		$('select').material_select();
	});
</script>
</div>
{% endblock %}