{% extends 'GMS/admin/home.html' %}

{% block content %}
<h5>Add Course...</h5>
<br>
<div class="row">
<form class="col s12" action="{% url 'GMS:addCourse' %}" method="post">
{% csrf_token %}
	{% if err_msg %}
		<div class="row">
			<div class="col s12">
				<font color="red">{{err_msg}}</font>
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="input-field col s12 l6 m6">
			<input id="name" type="text" name="name" value="{{course.name}}" required>
			<label for="name">Name</label>
		</div>
		<div class="input-field col s12 l6 m6">
			<input id="courseid" type="text" pattern="(CS|EE|ME|HS)[0-9]{3}" title = "Required format is CS223" name="courseid" value="{{course.courseID}}" required>
			<label for="courseid">Course - ID</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="LTP" type="text" pattern="[0-5]{1}-[0-1]{1}-[0-1]{1}" title = "Required format is 3-1-1" name="LTP" value="{{course.LTP}}" class="validate" required>
			<label for="LTP">L-T-P</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 l6 m6">
			<select name="credit" id="credit" required>
				<option value="5" {% if course.credit == 5 %}selected{% endif %}>5</option>
				<option value="4" {% if course.credit == 4 %}selected{% endif %}>4</option>
				<option value="3" {% if course.credit == 3 %}selected{% endif %}>3</option>
				<option value="0" {% if course.credit == 0 %}selected{% endif %}>0</option>
			</select>
			<label for="credit">Course Credit</label>
		</div>
		<div class="input-field col s12 l6 m6">
			<select name="courseType" id="courseType" required>
				<option value="1" {% if course.courseType == 1 %}selected{% endif %}>Credit</option>
				<option value="0" {% if course.courseType == 0 %}selected{% endif %}>Audit</option>
			</select>
			<label for="courseType">Course Type</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<select name="Iuserid" id="Iuserid" required>
				<option value="" disabled selected>Choose Instructor</option>
				{% for i in allInstructors %}
					<option value="{{i.user.userID}}" {% if i.user.userID == course.instructor.user.userID %}selected{% endif %}>{{i.user.name}}&nbsp;[{{i.user.userID}}]</option>
				{% endfor %}
			</select>
			<label for="Iuserid">Instructor</label>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<button type="submit" class="waves-effect waves-light btn">ADD</button>
			<button type="reset" class="waves-effect waves-light btn">Reset</button>
			<a href="{% url 'GMS:courses' %}" class="waves-effect waves-light btn">Cancel</a>
		</div>
	</div>
</form>

<script>
	$(document).ready(function(){
		$('select').material_select();
	});
</script>
</div>
{% endblock %}