{% extends 'GMS/admin/home.html' %}

{% block content %}
<style type="text/css">
	.edit_icon{
		color: #fbc02d;
		transition: all 0.4s;
	}
	.edit_icon:hover {
		color: #f57f17;
		box-shadow: 5px;
	}
	.delete_icon{
		color: #ff8a80;
		transition: all 0.4s;
	}
	.delete_icon:hover {
		color: #b71c1c;
		box-shadow: 5px;
	}
	.view_icon{
		color: #9fa8da;
		transition: all 0.4s;
	}
	.view_icon:hover {
		color: #3f51b5;
		box-shadow: 5px;
	}
	.success_msg {
		color: green;
		font-size: 1.2em;
	}
	.prompt_del_modal{
		width:300px;
	}
</style>

<br>


{% if edit %}
<h5>Edit Instructor...</h5>
<br>
<div class="row">
<form class="col s12" action="{% url 'GMS:instructors' %}" method="post">
{% csrf_token %}
	{% if err_msg %}
		<div class="row">
			<div class="col s12">
				<font color="red">{{err_msg}}</font>
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="input-field col s12 l6 m6">
			<input id="name" type="text" name="name" value="{{instructor.user.name}}" required>
			<label for="name">Name</label>
		</div>
		<div class="input-field col s12 l6 m6">
			<input id="userid" type="text" name="userid" value="{{instructor.user.userID}}" pattern="IN(CS|EE|ME|HS)[0-9]{3}" title = "Required format is INCS007" required>
			<input type="hidden" name="p_userid" value="{% if instructor.user.p_userID %}{{instructor.user.p_userID}}{% else %}{{instructor.user.userID}}{% endif %}">
			<label for="userid">ID</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="email" type="email" name="email" class="validate" value="{{instructor.user.email}}" required>
			<label for="email">Email</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 l6 m6">
			<input id="newPassword" type="password" name="newPassword">
			<input type="hidden" name="p_password" value="{{instructor.user.password}}">
			<label for="newPassword">Password</label>
		</div>
		<div class="input-field col s12 l6 m6">
			<input id="cnfPassword" type="password" name="cnfPassword">
			<label for="cnfPassword">Confirm Password</label>
		</div>
		<label style="color:#ff8a80;">&nbsp;&nbsp;&nbsp;&nbsp;Password field is optional...</label>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="contact" type="text" name="contact" pattern="[0-9]{10}" title="Please enter mobile number!" maxlength="10" value="{{instructor.user.contact}}" required>
			<label for="contact">Contact</label>
		</div>
		<!-- <div class="input-field col s12 l6 m6">
			<input id="department" type="text" name="department" value="{{instructor.department}}" required>
			<label for="department">Department</label>
		</div> -->
	</div>
	<div class="row">
		<div class="col s12">
			<button type="submit" class="waves-effect waves-light btn">Change</button>
			<a href="{% url 'GMS:instructors' %}" class="waves-effect waves-light btn">Cancel</a>
		</div>
	</div>
</form>

<script>
	$(document).ready(function(){
		$('select').material_select();
	});
</script>
</div>

{% else %}

<div class="row">
	{% if success_msg %}
		<span class="success_msg left">
			&nbsp;&nbsp;&nbsp;<i class="material-icons">check_circle</i>&nbsp;{{success_msg}}
		</span>
	{% endif %}
	<span class="right">&nbsp;&nbsp;&nbsp;</span>
	<span class="right"><a href="{% url 'GMS:addInstructor' %}" class="waves-effect waves-purple btn blue darken-3"><i class="material-icons right">add</i>Add Instructor</a></span>
</div>
<div class="row">
	<div class="input-field col s4">
		{% if searched %}
			<h5>Result(s) for query '{{query}}'&nbsp;&nbsp;-</h5>
		{% else %}
			<h5>Select instructor to view detail</h5>
		{% endif %}
	</div>
	<div class="input-field col s4 offset-s4">
		<form action="{% url 'GMS:search' %}" method="post">
		{% csrf_token %}
			<input id="search" name="search" type="search">
			<input type="hidden" name="search_for" value="admin_instructors">
			<label for="search"><i class="material-icons">search</i></label>
		</form>
	</div>
</div>
{% if allInstructors|length %}
	<ul class="collapsible">
		{% for s in allInstructors %}
			<li>
				<div class="collapsible-header">
					{{s.user.userID}}&nbsp;&nbsp;-&nbsp;&nbsp;{{s.user.name}}
					<span class="right">
						<!-- Modal Trigger -->
						<a class="modal-trigger delete_icon edicons tooltipped" data-position="top" data-delay="800" data-tooltip="Delete" href="#{{s.user.userID}}">
							<i class="material-icons">delete</i>
						</a>

						<!-- Modal Structure -->
						<div id="{{s.user.userID}}" class="modal edicons prompt_del_modal">
							<div class="modal-content">
								<h4>Are you sure?</h4>
							</div>
							<div class="modal-footer">
								<button class="modal-action modal-close waves-effect waves-red btn-flat">No</button>
								<a href="{% if searched %}../instructors/{% endif %}{{s.user.userID}}/delete" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
							</div>
						</div>
					</span>
					<span class="right">
						<a href="{% if searched %}../instructors/{% endif %}{{s.user.userID}}" class="edit_icon edicons tooltipped" data-position="top" data-delay="800" data-tooltip="Edit">
							<i class="material-icons">mode_edit</i>
						</a>
					</span>
					<span class="right">
						<a href="{% if searched %}../instructors/{% endif %}{{s.user.userID}}/view" class="view_icon edicons tooltipped" data-position="top" data-delay="800" data-tooltip="View">
							<i class="material-icons">remove_red_eye</i>
						</a>
					</span>
				</div>
				<div class="collapsible-body">
					<div style="padding:10px;">
						<table>
							<tr>
								<td><b>Name : </b></td>
								<td>{{s.user.name}}</td>
								<td>&nbsp;</td>
								<td><b>ID :</b></td>
								<td>{{s.user.userID}}</td>
							</tr>
							<tr>
								<td><b>Email : </b></td>
								<td>{{s.user.email}}</td>
								<td>&nbsp;</td>
								<td><b>Contact : </b></td>
								<td>{{s.user.contact}}</td>
							</tr>
							<tr>
								<td><b>Department : </b></td>
								<td>{{s.department}}</td>
							</tr>
						</table>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
	<script>
		$('.edicons').on('click', function(e) {
			$($(this).parent().parent()).trigger('click');
		});
		
		$(document).ready(function(){
			$('.modal-trigger').leanModal();
		});
	</script>
{% else %}
	{% if searched %}
		<h5>No Result...</h5>
	{% else %}
		<h5>No instructor to show...</h5>
	{% endif %}
{% endif %}
{% endif %}
{% endblock %}