<!DOCTYPE html>
<html>
<head>
	<title>Give Grades - Grade Management System</title>
</head>
<body>
You are on give grade page.<br> 
<form action="{% url "GMS:giveGrade" %}" method = "post">
{% csrf_token %}
{% if form.errors %}
	<div class="row">
		<div class="col s12 m6 offset-m3 l3 offset-l4" style="color:red;">
			<p>Invalid Error!</p>
		</div>
	</div>
{% endif %}
Select the course<br>
<select name = "course">
	{% for c in crs %}
	<option value="{{c.courseID}}">{{c.name}}</option>
	{%endfor%}
</select><br>
Select the grade<br>
<select name = "grade">
	<option value="A">A</option>
	<option value="B">B</option>
	<option value="C">C</option>
	<option value="D">D</option>
	<option value="F">F</option>
</select><br><br>
Select the student roll number<br>
<select name = "student">
	{% for s in students %}
	<option value="{{s.user_id.userID}}">{{s}}</option>
	{%endfor%}
</select>
<!-- <ul name = "student">
	{% for s in students %}
	<li value="{{s.user_id.userID}}">{{s}}</li>
	{%endfor%}
</ul> -->
<br><br>
<input type ="submit" value="Submit">
</form>
<!-- <p>
Course ID : {{cid}}<br>
Student ID : {{sid}}<br>
Grade : {{grade}}
</p> -->
</body>
</html>