{% extends 'GMS/home.html' %}

{% block title %}{{section.title}}{% endblock %}

{% block content %}
{% if giveGrade %}
	<form action="" method="post">
	{% csrf_token %}

		<table class="striped">
			<thead>
				<tr>
					<th data-field="id">Student [Roll No.]</th>
					<th data-field="grade" width="15%">Grade</th>
				</tr>
			</thead>

			<tbody>
				{% for student, grade in std_grd_zipped %}
					<tr>
						<td>{{student.user.name}} [{{student.user.userID}}]</td>
						<td>
							<select name="{{student.user.userID}}" required>
								<option value="" disabled="disabled" selected="selected">Choose Grade</option>
								<option value="A" {% if grade == "A" %}selected="selected"{% endif %}>A</option>
								<option value="B" {% if grade == "B" %}selected="selected"{% endif %}>B</option>
								<option value="C" {% if grade == "C" %}selected="selected"{% endif %}>C</option>
								<option value="D" {% if grade == "D" %}selected="selected"{% endif %}>D</option>
								<option value="F" {% if grade == "F" %}selected="selected"{% endif %}>F</option>
								<option value="S" {% if grade == "S" %}selected="selected"{% endif %}>S</option>
								<option value="X" {% if grade == "X" %}selected="selected"{% endif %}>X</option>
							</select>
						</td>
					</tr>
				{% endfor %}

				<tr>
					<td><button type="submit" class="waves-effect waves-light btn" value="Submit">Submit</button></td>
					<td><input type="hidden" name="next" value="{{ next }}" /></td>
				</tr>
			</tbody>
		</table>

		<script type="text/javascript">
			$(document).ready(function() {
				$('select').material_select();
			});
		</script>
	</form>
{% else %}
	<ul class="collapsible popout" data-collapsible="accordion">
		{% for c in courses %}
			<li>
				<div class="collapsible-header">
					{{ c.courseID }}
					<span class="right"><a class="waves-effect {% if c.gradesUploaded %}green waves-purple{% else %}waves-light{% endif %} btn" href="{{c.courseID}}/">
						{% if c.gradesUploaded %}Edit{% else %}Give{% endif %}
					</a></span>
				</div>
				<div class="collapsible-body">
					<p>	
						Name : {{ c.name }}<br>
						LTP : {{ c.LTP }}<br>
						Credits : {{ c.credits }}<br>
						Course Type : {% if c.courseType %}Credit{% else %}Audit{% endif %}
					</p>
				</div>
			</li>
		{% endfor %}
	</ul>
{% endif %}
{% endblock %}