{% load staticfiles %}
<html>
<head>
	<title>{{user.name}}</title><!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{% static 'GMS/css/materialize.min.css' %}"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<style type="text/css">
	.currTab {
		border-bottom: 4px solid blue;
	}
	</style>
</head>
<body>
<!-- Load javascripts -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'GMS/js/materialize.min.js' %}"></script>

<nav class="blue">
	<div class="nav-wrapper">
		<span class="brand-logo hide-on-large-only">&nbsp;&nbsp;Grade Management System</span>
		<span class="brand-logo hide-on-med-and-down">&nbsp;&nbsp;GMS</span>
		<a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li class="blue darken-4"><a href="{% url 'GMS:home' %}">&nbsp;&nbsp;&nbsp;&nbsp;Hello, {{user.name}}&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
			{% if user.role == 1 %}
				<li class="{% if curr_tab == 'giveGrade' %}currTab active{% endif %}"><a href="{% url 'GMS:giveGrade' %}"><i class="material-icons right">mode_edit</i>Give Grades</a></li>
			{% endif %}
			<li class="{% if curr_tab == 'transcript' %}currTab active{% endif %}"><a href="{% url 'GMS:transcript' %}"><i class="material-icons right">description</i>Transcript</a></li>
			<li><a href="{% url 'GMS:logout' %}"><i class="material-icons right">power_settings_new</i>Logout</a></li>
		</ul>
		{# Mobile Menu #}
		<ul class="side-nav" id="mobile-menu">
			<li class="blue darken-4"><a href="{% url 'GMS:home' %}">&nbsp;&nbsp;&nbsp;&nbsp;Hello, {{user.name}}&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
			{% if user.role == 1 %}
				<li><a href="{% url 'GMS:giveGrade' %}"><i class="material-icons right">mode_edit</i>Give Grades</a></li>
			{% endif %}
			<li class="{% if curr_tab == 'transcript' %}active{% endif %}"><a href="{% url 'GMS:transcript' %}"><i class="material-icons right">description</i>Transcript</a></li>
			<li><a href="{% url 'GMS:logout' %}"><i class="material-icons right">power_settings_new</i>Logout</a></li>
		</ul>
	</div>
	<script type="text/javascript">
		$(".button-collapse").sideNav();
	</script>
</nav>

<div class="container">
	{% block content %}
		<table>
			<tbody>
				<tr>
					<br>
					<br>
					<td style="text-align:center; padding:0px;"><img class="IITJ_Logo" src="{% static 'GMS/images/IITJ_Logo.png' %}" width="15%"></td>
				</tr>
				<tr>
					<td style="font-size:2em; color:black; text-align:center; padding:0px;">Welcome to IIT Jodhpur</td>
				</tr>
				<tr>
					<td style="font-size:1.5em; color:black; text-align:center; padding:0px;">Grade Management System</td>
				</tr>
			</tbody>
		</table>
	{% endblock %}
</div>

</body>
</html>